---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import CityCarousel from '../components/CityCarousel.astro';
import LatestGems from '../components/LatestGems.astro';
import FeaturedGems from '../components/FeaturedGems.astro';
import CategoriesSection from '../components/CategoriesSection.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import SimWidget from '../components/SimWidget.astro';
---

<Layout>
  <Navbar />
  <Hero />
  <CityCarousel />
  <section class="container mx-auto px-4 py-8">
    <SimWidget />
  </section>
  <LatestGems />
  <FeaturedGems />
  <CategoriesSection />
  
  <!-- Sign-up section -->
  <section class="py-16 bg-gradient-to-r from-primary/10 to-primary/20">
    <div class="ml-embedded" data-form="kxhzxw"></div>
  </section>

  <Footer />
</Layout>

